html,
body {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "modernofb-20180515";
  src: url("NAME-OF-FONT-FILE.woff2") format("woff2"),
       url("NAME-OF-FONT-FILE.woff") format("woff");
}  

body {
  background: rgb(105, 133, 122);
  position: relative;
}

.details {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.profile-link {
  color:#FFC971;
  font-size: 12px;
  display: block;
}

.link-heading {
  display: block;
  font-size: 12px;
}

a:hover,
a:visited:hover {
  color: ivory;
}

a:visited {
  color: rgb(13, 54, 48);
}

.square-one .inner {
  background: rgb(86, 86, 86);
}

.square-two .inner {
  background: white;
}

.square-three .inner {
  background: #FFC971;
}

.outer {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
}


.left {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 340px;
  height: 345px;
  box-sizing: border-box;
  margin: 0 auto;
}

.square {
  position: absolute;
  display: flex;
  height: 240px;
  width: 240px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}

.inner {
  height: 240px;
  width: 4px;
  margin-right: 8px;
}


.square-one {
  left: 48px;
  top: 52px;
}

.wrap:hover .square-one {
  left: 0;
  top: 0;
}

.square-two {
  left: 52px;
  top: 52px;
}

.square-three {
  left: 56px;
  top: 52px;
}

.wrap:hover .square-three {
  left: 104px;
  top: 104px;
}
